{% extends 'base.html' %} {% load static %}
    <!-- Page Label -->
{% block site_title %}
    <h4>
        To-do List
    </h4>
{% endblock %}
    <!-- Page Content -->
{% block content %}
    <div class="row">
        <div class="col-md-12 text-right">
            <!-- Create Button -->
            
			<div>
				{% if user.is_authenticated %}
					<form action="{% url 'logout' %}" method="post">
						{% csrf_token %}
						<button type="submit">Logout</button>
					</form>
				{% else %}
					<a href = "{% url 'login' %}">Login</a>
				{% endif %}
			</div>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>
                To-Do List
			</h3>
			<h4>
				<a href="{% url 'task-create' %}" class="btn">Add New Task</a>
			</h4>
			<!-- if tasks exist -->
            {% if tasks_list %}
            <div class="table-responsive">
              <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Note</th>
					  <th scope="col">Status</th>
					  <th scope="col">Location</th>
					  <th class="text-right" scope="col">Weather color</th>
                      <th class="text-right" scope="col">Operations</th>
					  <th class="text-right" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Show To-Do List -->
                    {% for task in tasks_list %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ task.note }}</td>
					  <td><small>{{ task.status }}</small></td>
					  <td><small>{{ task.location }}</small></td>
                      <td><small>{{ task.weather }}</small></td>
                      <td><small>{{ task.temp }}</small></td>
					  <td class="color-column" style="background-color: {{task.background_color}}">
					  <td class="text-right"><a href="{% url 'task-update' task.id %}" >Change</a></td>
					  <td class="text-right"><a href="{% url 'task-delete' task.id %}" >Delete</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
            <!-- otherwise -->
            {% else %}
            <p class="text-center">
                <small>Your To-Do list is empty</small>
            </p>
            {% endif %}
        </div>
        <hr>
    </div>
{% endblock %}