<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        label,
        input {
            display: block;
        }

        span.helptext {
            display: none;
        }
    </style>

    <h1>Welcome to To-do Website</h1>

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href = "{% url 'login' %}">Login</a>
    {% endif %}
</div>

{% endblock %}
</body>

</html>